{% extends 'base.html.twig' %}

{% block title %}Admin Panel{% endblock %}

{% block body %}
<div class="text-center">
    <div class="row">
        <div class="col">
            <a href="{{ url('app_category_index') }}" class="text-decoration-none">
                <div class="card bg-secondary">
                    <div class="card-body">
                        <span class="text-light">Categories</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="col">
            <a href="{{ url('app_post_index') }}" class="text-decoration-none">
                <div class="card bg-success">
                    <div class="card-body">
                        <span class="text-light">Posts</span>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
{% endblock %}
